*.o
*.mod
*~
*.gch
bin/
.settings
TQGGWS/TQGG_vs2005/TQGG.suo
TQGGWS/TQGG_vs2005/TQGG.u2d
TQGGWS/TQGG_vs2005/Debug/
TQGGWS/TQGG_vs2005/Release/
TQGGWS/TQGG_vs2015/TQGG.suo
TQGGWS/TQGG_vs2015/TQGG.u2d
TQGGWS/TQGG_vs2015/Debug/
TQGGWS/TQGG_vs2015/Release/
TQGGWS/TQGG_vs2015/x64/Debug/
TQGGWS/TQGG_vs2015/x64/Release/
